body {
    font-family: "Roboto Slab", serif;
  
}

.card {
    border-radius: 20px;
    transition: all 0.3s ease;
}

.card:hover {
    transform: translateY(-3px);
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.5);
}

.card img {
    border-radius: 20px 20px 5px 5px;
    height: 200px;
    width: 100%;
    object-fit: cover;
}

#search {
    width: 400px;
    margin-left: 180px;
}

.filter {
    margin-left: 20px;
    margin-bottom: 15px;
}

.bg-gradient {
    background: linear-gradient(135deg, #1e1e1e 0%, #343a40 100%);
}

.form-select {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-size: 16px 12px;
    cursor: pointer;
}

.filter-button {
    position: absolute;
    display: flex;
    justify-content: center;
    left: 130px;
    margin-top: 5px;
}

/* Responsive Styles */
@media (max-width: 1200px) {
    #search {
        width: 300px;
        margin-left: 100px;
    }
}

@media (max-width: 992px) {
    #search {
        width: 250px;
        margin-left: 50px;
    }
    .filter-button {
        left: 50px;
    }
}

@media (max-width: 768px) {
    #search {
        width: 150%;
        margin-left: -40px;
    }
    .filter-button {
        position: static;
        width: 152%;
        text-align: center;
        margin-top: 10px;
    }
    .card {
        margin-bottom: 20px;
    }
}

@media (max-width: 576px) {
    .card {
        margin-bottom: 15px;
    }
    .filter-button {
        width: 100%;
    }
}

@media (max-width: 575.98px) {
    .card {
        margin-bottom: 3rem !important;
        border: 1px solid black;
    }
}
.noUi-connect {
    background: rgba(255, 0, 0, 0.9);
}