{% extends 'base.html' %}
{% load static %}
{% block main_block %}
<link rel="stylesheet" href="{% static 'css/gallery.css' %}">





<section class="hero">
    <img src="{% static 'images/head-image.jpg' %}" alt="Gallery Hero Image">
    <div class="hero-overlay">
        <h1>Explore Our Art Collection</h1>
        <p>Discover unique artworks from emerging and established artists worldwide</p>
    </div>
</section>

<div class="container mt-5">
    <div class="row my-4">
        <div class="col">
            <div class="hover-container" data-aos="fade-right" data-aos-delay="100">
                <img src="{% static 'images/head-image.jpg' %}" class="img-fluid rounded shadow" style="height: 250px; width: 470px;" alt="Home Stay Image 3">
                <div class="hover-text">Home Stay</div>
            </div>
        </div>
        <div class="col">
            <div class="hover-container" data-aos="fade-right" data-aos-delay="200">
                <img src="{% static 'images/head-image.jpg' %}" class="img-fluid rounded shadow" style="height: 250px;" alt="Home Stay Image 4">
                <div class="hover-text">Canal Boating</div>
            </div>
        </div>
        <div class="col">
            <div class="hover-container" data-aos="fade-right" data-aos-delay="300">
                <img src="{% static 'images/head-image.jpg' %}" class="img-fluid rounded shadow" style="height: 250px; width: 400px;" alt="Home Stay Image 5">
                <div class="hover-text">Kayaking</div>
            </div>
        </div>
    </div>
    <div class="row my-4" data-aos="fade-right">
        <div class="col">
            <div class="hover-container" data-aos="fade-right" data-aos-delay="100">
                <img src="{% static 'images/head-image.jpg' %}" class="img-fluid rounded shadow" style="height: 450px;" alt="Home Stay Image 1">
                <div class="hover-text">Kayaking</div>
            </div>
        </div>
        <div class="col">
            <div class="hover-container" data-aos="fade-right" data-aos-delay="200">
                <img src="{% static 'images/head-image.jpg' %}" class="img-fluid rounded shadow" style="height: 450px;" alt="Home Stay Image 2">
                <div class="hover-text">Shikkara</div>
            </div>
        </div>
    </div>

    <div class="row my-4" data-aos="fade-right">
        <div class="col">
            <div class="hover-container" data-aos="fade-right" data-aos-delay="100">
                <img src="{% static 'images/head-image.jpg' %}" class="img-fluid rounded shadow" style="height: 250px;" alt="Home Stay Image 3">
                <div class="hover-text">canal Boating</div>
            </div>
        </div>
        <div class="col">
            <div class="hover-container" data-aos="fade-right" data-aos-delay="200">
                <img src="{% static 'images/head-image.jpg' %}" class="img-fluid rounded shadow" style="height: 250px;" alt="Home Stay Image 4">
                <div class="hover-text">Canal Boating</div>
            </div>
        </div>
        <div class="col">
            <div class="hover-container" data-aos="fade-right" data-aos-delay="300">
                <img src="{% static 'images/head-image.jpg' %}" class="img-fluid rounded shadow" style="height: 250px; width: 400px;" alt="Home Stay Image 5">
                <div class="hover-text">Kayaking</div>
            </div>
        </div>


        <div class="row my-4" data-aos="fade-right">
            <div class="col">
                <div class="hover-container" data-aos="fade-right" data-aos-delay="100">
                    <img src="{% static 'images/head-image.jpg' %}" class="img-fluid rounded shadow" style="height: 450px;" alt="Home Stay Image 1">
                    <div class="hover-text">Kayaking</div>
                </div>
            </div>
            <div class="col">
                <div class="hover-container" data-aos="fade-right" data-aos-delay="200">
                    <img src="{% static 'images/head-image.jpg' %}" class="img-fluid rounded shadow" style="height: 450px;" alt="Home Stay Image 2">
                    <div class="hover-text">Shikkara</div>
                </div>
            </div>
        </div>
    
    </div>
</div>



<script>
    // Simple filter functionality
    const filterButtons = document.querySelectorAll('.filter-button');

    filterButtons.forEach(button => {
        button.addEventListener('click', () => {
            // Remove active class from all buttons
            filterButtons.forEach(btn => btn.classList.remove('active'));

            // Add active class to clicked button
            button.classList.add('active');

        });
    });
</script>
{%endblock%}