{%extends 'base.html'%}
{%block main_block%}
{% load static %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">


<div class="container-fluid">
    <img src="{% static 'images/home-page.webp' %}" alt="Background Image">

    <div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
        <div class="overlay-content text-center">
            <h1>Search for Cars</h1>
    
            <form action="{% url 'home' %}" method="GET" class="search-form d-flex justify-content-center mt-3">
                <div class="input-group" style="width: 500px;">
                    <input type="text" class="form-control search-input" placeholder="Search your car..." name="q">
                    <button type="submit" class="btn search-btn bg-light">
                        <i class="fas fa-search text-dark"></i> 
                    </button>
                </div>
            </form>
    
            <a href="{% url 'car-list' %}" class="button btn w-50 mt-3 rounded-4 mx-auto">Browse More</a>
        </div>
    </div>
    
</div>
<!-- Rotating Tire with Text -->
<div class="rotating-tire">
    <img src="{% static 'images/tyres.png'%}" alt="Rotating Tire" width="100% ">
</div>





{%endblock%}